<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>NSAppTransportSecurity</key>                                                                                                                                                                             
  <dict>                                                                                                                                                                                                        
      <key>NSAllowsArbitraryLoads</key>
      <true/>                                                                                                                                                                                                   
  </dict> 
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to devices on your local network to discover and connect to nearby cameras.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleIconName</key>
	<string></string>
	<key>CFBundlelconName</key>
	<string>AppIcon</string>
</dict>
</plist>
