@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype-variations");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype-variations");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype-variations");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype-variations");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype-variations");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype-variations");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype-variations");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype-variations");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype-variations");
  font-weight: 900;
}

::-webkit-scrollbar {
  display: none;
}
:root {
  --vh: 1vh;
  --primary-color: #1766a6;
  --secondary-color: #b076dc;
  --success-color: #22d28e;
  --warning-color: #ffd975;
  --error-color: #de645b;
  --font-primary-color: #161b21;
  --font-secondary-color: rgba(71, 77, 84, 0.5);
  --font-tertiary-color: #f1f6fa;
  --background-depth-one-color: #f6fbff;
  --background-depth-two-color: #f1f6fa;
  --background-depth-three-color: #e8eff4;
  --border-color: #d6e1ea;
  --border: 1px solid var(--border-color);
  --box-shadow: 0 0.5rem 1rem rgba(199, 199, 199, 0.125);

  &[data-theme="dark"] {
    --primary-color: #1766a6;
    --secondary-color: #242529;
    --font-primary-color: #d9e0e9;
    --font-secondary-color: rgba(160, 166, 175, 0.75);
    --font-tertiary-color: #161b21;
    --background-depth-one-color: #1f272f;
    --background-depth-two-color: #181e25;
    --background-depth-three-color: #161b21;
    --border-color: #2a323c;
    --box-shadow: 0 0.5rem 1rem rgba(15, 16, 17, 0.25);
    ::selection {
      background: rgba(249, 200, 125, 0.25);
    }
  }
}
::selection {
  background: rgba(243, 110, 37, 0.25);
}

html,
body {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--font-primary-color);
  background-color: var(--background-depth-three-color);
  overflow-x: hidden;

  @media only screen and (max-width: 1900px) and (min-width: 1601px) {
    font-size: 22px;
  }
  @media only screen and (max-width: 1600px) and (min-width: 1481px) {
    font-size: 21px;
  }
  @media only screen and (max-width: 1480px) and (min-width: 1381px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 1380px) and (min-width: 1321px) {
    font-size: 19px;
  }
  @media only screen and (max-width: 1320px) and (min-width: 641px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 768px) {
    height: auto;
    overflow-y: auto;
    font-size: 24px;

    .gd-title-1 {
      font-size: 1.5rem;
    }
    .gd-title-2 {
      font-size: 1.25rem;
    }
    .gd-headline-1 {
      font-size: 1rem;
    }
    .gd-headline-2 {
      font-size: 0.9rem;
    }
    .gd-headline-3 {
      font-size: 0.85rem;
    }
    .gd-headline-4 {
      font-size: 0.8rem;
    }
    .gd-headline-5 {
      font-size: 0.7rem;
    }
    .gd-headline-6 {
      font-size: 0.6rem;
    }
    .gd-body-1 {
      font-size: 0.9rem;
    }
    .gd-body-2 {
      font-size: 0.85rem;
    }
    .gd-body-3 {
      font-size: 0.8rem;
    }
    .gd-body-4 {
      font-size: 0.7rem;
    }
    .gd-body-5 {
      font-size: 0.6rem;
    }
    .gd-subtitle-text {
      font-size: 0.6rem;
    }
    .gd-caption-text {
      font-size: 0.6rem;
    }
    .gd-button-text {
      font-size: 0.65rem;
    }
  }
  @media only screen and (max-width: 400px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 360px) {
    font-size: 18px;
  }
}

body.gd {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.gd-title-1 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: "Poppins";
}

.gd-title-2 {
  font-size: 1.375rem;
  font-weight: 700;
  font-family: "Poppins";
}

.gd-headline-1 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-headline-2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-headline-3 {
  font-size: 0.85rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-headline-4 {
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-headline-5 {
  font-size: 0.65rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-headline-6 {
  font-size: 0.55rem;
  font-weight: 600;
  font-family: "Poppins";
}

.gd-body-1 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
}
.gd-body-2 {
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
}
.gd-body-3 {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
}
.gd-body-4 {
  font-size: 0.65rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
}
.gd-body-5 {
  font-size: 0.55rem;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
}

.gd-subtitle-text {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Poppins";
}

.gd-caption-text {
  font-family: "Poppins";
  font-size: 0.55rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-secondary-color);
}

.gd-button-text {
  font-family: "Poppins";
  font-size: 0.55rem;
  font-weight: 600;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@keyframes gd-loading {
  0% {
    left: 0;
    right: 100%;
  }

  50% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}

// Modifier classes using -- prefix
// Color modifiers

// State modifiers
.--disabled {
  &.gd-button,
  &.gd-input {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.gd-input {
    .gd-input-show {
      cursor: not-allowed;
    }
  }
}

.--active {
  &.gd-panel-header-item {
    .gd-panel-header-item-icon {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--font-tertiary-color);
    }
    .gd-panel-header-item-name {
      color: var(--primary-color);
    }
  }
  &.gd-navigation-links-item {
    .gd-navigation-links-item-text {
      color: var(--primary-color);
    }
    .gd-navigation-links-item-icon {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--font-tertiary-color);
    }
  }
}
